<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label 'Display name' %><br />
    <%= form.text_field :commenter, class: 'form-control' %>
  </p>

  <p>
    <%= form.label 'Comment' %><br />
    <%= form.text_area :body, class: 'form-control' %>
  </p>

  <div class="form-group">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: 'form-control' %>
  </div>

  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>