<h1 class="mt-4"><%= @article.title %></h1>

<p><%= @article.body %></p>

<p class="text-right">
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article),
               method: :delete,
               data: { confirm: "Are you sure?" } %>
</p>

<% public_comments = @article.comments.where(status: 'public') %>

<% unless public_comments.empty? %>
  <h2>Comments (<%= public_comments.count %>)</h2>
  <% public_comments.each do |comment| %>
    <%= render @article.comments %>
  <% end %>
<% end %>

<h2>Comment</h2>

<%= render 'comments/form' %>